<h1>Angular first time trying ever.</h1>

<!-- much more about basic -->
<!-- <app-course></app-course> -->

<!-- coustom pipes -->
<!-- <app-textbox></app-textbox> -->

<!-- input, output, ngFor, trackBy, ngIf, ngElse, switch, custom directives, class binding etc -->
<!-- <app-child [isSelect]="dataToBePassed.isSelect" (showAlert)="outputFunction($event)"></app-child> -->

<!-- resuable compnent or element -->
<!-- <app-resuable>
    <p class="title">Samsung galaxy a52 4G</p>
    <p class="description">
        This phone made by samsung at 2021. Chipset is 720G which is from qualcom
        brand. Camera is 64MP which is rear camera.
    </p>
</app-resuable> -->

<!-- template driven form in angular -->
<!-- <app-template-driven-form></app-template-driven-form> -->

<!-- reactive form in angular -->
<!-- <signup-form></signup-form> -->

<!-- form array -->
<!-- <app-form-array></app-form-array> -->

<!-- form builder -->
<!-- <app-form-builder></app-form-builder> -->

<!-- communicate with the backend server -->
<h4>Communicate with the backend server.</h4>
<app-communicate-with-backend></app-communicate-with-backend>
